* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #CECECE;
}

.container {
    perspective: 1000px;
}
.card {
    height: 340px;
    width: 250px;
    position: relative;
    /* transition: all 3s linear; */
    transform-style: preserve-3d;
    transform-origin: bottom;
}
.container:hover .card {
    animation: flip 4s linear forwards infinite ;      
} 

.front, .back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
 
}

.front {
    background-color: cadetblue;
    z-index: 2;
    backface-visibility: hidden;
    
}

.back {
    background-color: coral;
    z-index: 1;
    transform: rotateY(180deg);
}

@keyframes flip {
    0% {
        transform: rotateX(89deg);
    }
    20% {
        transform: rotateX(0deg);
    }
    80% {
        transform:rotateY(360deg);
    }
    100% {
        transform: rotateX(89deg);
    }
}